.Search_Form_Container {
    /* background-color: white; */
     height: 280px;
      padding: 190px;
     background-image: url("./image/1616818401247.jpg"); 
     background-repeat: no-repeat;
     background-size: cover;
}

.Search_Form_Container>form>label {
    display: inline;
    font-weight: 900;

}

.Search_Form_Container>form {
    
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;

    gap: 0px;
}

.Search_Form_Container>form>.search {
    background-color: white;
    height: 45px;
    width: 250px;
    border: 1px solid black;
    border-radius: 5px;

    padding: 2px;
    font-weight: bold;


}

input[type=text],
input[type=date] {
    border: none;
    /* background-color: rgb(252, 253, 253); */

    width: 100%;
}

input:focus {
    outline: none;
}

button[type=submit] {

    background-color: rgb(246, 86, 86);
    color: white;
    font-weight: bold;
    height: 50px;
    width: 180px;
    

}



.busicon {
    background-color: rgb(104, 97, 97);
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    
    

}



.booking_container {
    background-color: rgb(94, 18, 18);
    
    height: auto;

}

.sortby_container {

    padding: 10px;
    display: flex;
    justify-content: center;
    gap: 50px;
    color: white;
}

.sortby_container>ul {
    display: flex;
    justify-content: space-between;
    gap: 40px
}

.sortby_container>ul>li {
    list-style-type: none;
    color: white;
    margin-left: 50px;
    gap: 20px
}

.sortby_container>ul>li>button {
    padding: 4px;

    font-weight: bold;
    width: 100px;
        
}


@media screen and (max-width: 480px) {
    .bus_data>ul>li {
        width: auto;
    }

    .Search_Form_Container>form{
        display: flex;
        flex-direction: column;
        gap:5px

    }

}